@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@media screen and (max-width: 2564px) {
  body {
    font-family: 'Outfit', sans-serif !important;
    background-color: white;
    margin:0;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
    text-align:center;
    font-size:20px;
    color: white;
  }

  .nav{position:fixed;
    z-index:1;
    width:-webkit-fill-available;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:5px;
    background-color: rgba(29, 29, 31, 0.938);
  }

  .img{margin-top:140px;}

  .sfondo{background-color:#edeef0;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  }

  .intestazione1{display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    margin-top:0px;
    margin-bottom:15px;
  }

  .intestazione2{display: none;}

  .NomeLogo{display:grid;
    justify-content:center;
    height:80px;
  }
    
  .Nomelogo h1{margin:0px;
  font-size: 45px;}
        
  .Nomelogo p{margin:0px;
    font-size: 24px;
  }

  .test{display:flex;
    flex-direction: column;
    width:90%;
  }

  .Notizie{
    display: flex;
    justify-content:left;
    color:#598596;;
  }

  .Notizie h1{margin-bottom:10px;
    margin-top:60px
  }

  .Contenitore {
    display: flex;
    flex-direction:row;
    justify-content: center;
  }

  .Uno {
    width: 33%;
    height: 320px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  .Due {
    width: 33%;
    height: 320px;
    margin-right: 20px;
    margin-left:20px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;;
  }

  .Tre {
    width: 33%;
    height: 320px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;;
  }

  p{font-size:19px;}

  h5{font-size: 18px;}

  h4{font-size: 22px;}

  button {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 27px;
    background: #549da0;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom:90px;
  }

  #home{font-size: 40px;
  color:#549da0;}
  
  #food,#user,#setting{font-size: 40px;}

  #home:hover{color:#549da0; transition: 0.5s}
  #food:hover{color:#549da0; transition: 0.5s}
  #user:hover{color:#549da0; transition: 0.5s}
  #setting:hover{color:#549da0; transition: 0.5s}
}

@media screen and (max-width: 1540px) {
  body {
    font-family: 'Outfit', sans-serif !important;
    background-color: white;
    margin:0;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
    text-align:center;
    font-size:16px;
    color: white;
  }

  .nav{position: fixed;
    z-index: 1;
    width:-webkit-fill-available;
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: rgba(29, 29, 31, 0.938);
    padding:0px;
  }

  .img{width:500px;
    margin-top:100px;
  }

  .intestazione1{display: flex;
    justify-content:center;
    align-items:center;
    color:white;;
    margin-top:0px;
    margin-bottom:4px;
  }

  .intestazione2{display: none;}    
    
  .NomeLogo{display:grid;
    justify-content:center;
    height:80px;
  }
    
  .Nomelogo h1{margin:0px;
    font-size: 38px;
  }
      
  .Nomelogo p{margin:0px;
    font-size: 17px;
  }

  .sfondo{background-color:#edeef0;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  }

  .test{display:flex;
    flex-direction: column;
    width:89.7%;
  }

  .Notizie{
    display: flex;
    justify-content:left;
    color:#598596;
  }

  .Notizie h1{margin-bottom:10px;
    margin-top:40px
  }

  .Contenitore {
    display: flex;
    flex-direction:row;
    justify-content: center;
  }

  .Uno {
    width: 405px;
    height: 280px;
    margin-top: 0px;
    background-color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  .Due {
    width: 405px;
    height: 280px;
    margin-right: 20px;
    margin-left:20px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  .Tre {
    width: 405px;
    height: 280px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  p{font-size:17px;}

  h5{font-size: 15px;}

  h4{font-size: 18px;}

  button {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: #549da0;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom:90px;
  }

  #home{font-size: 30px;
  color:#549da0;}
  
  #food,#user,#setting{font-size: 30px;}

  #home:hover{color:#549da0;}
  #food:hover{color:#549da0;}
  #user:hover{color:#549da0;}
  #setting:hover{color:#549da0;}
}

@media screen and (max-width: 1024px) {
  body {
    background-color: white;
    margin:0;
    font-family: 'Outfit', sans-serif !important;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
    text-align:center;
    color: white;
  }

  .nav{position:fixed;
    z-index:1;
    width:-webkit-fill-available;
    display: flex;
    justify-content:space-around;
    padding:0px;
    background-color: rgba(29, 29, 31, 0.938);
  }

  .sfondo{background-color:#edeef0;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  }

  .intestazione1{display: flex;
    justify-content:center;
    align-items:center;
    color:white;;
    margin-top:0px;
    margin-bottom:4px;
  }
  
  .intestazione2{display: none;}   
  
  .NomeLogo{display:grid;
    justify-content:center;
    height:80px;
  }
  
  .Nomelogo h1{margin:0px;
    font-size: 38px;
  }
      
  .Nomelogo p{margin:0px;
    font-size: 17px;
  }

  .test{display:flex;
    flex-direction: column;
    width:92%;
  }
  
  .Notizie{
    display: flex;
    justify-content:left;
    color:#598596;
  }

  .Notizie h1{margin-bottom:10px;
    margin-top:40px;}
  
  .Contenitore {
    display: flex;
    flex-direction:row;
    justify-content: center;
  }

  .Uno {
    width: 300px;
    height: 280px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  .Due {
    width: 300px;
    height: 280px;
    margin-right: 20px;
    margin-left:20px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  .Tre {
    width: 300px;
    height: 280px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  p{font-size:17px;}

  h5{font-size: 15px;}

  h4{font-size: 18px;}

  button {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: #549da0;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 40px;
  }

  #home{font-size: 27px;
    color:#549da0;
  }
      
  #food,#user,#setting{font-size: 27px;}

  #home:hover{color:#549da0;}
  #food:hover{color:#549da0;}
  #user:hover{color:#549da0;}
  #setting:hover{color:#549da0;}
}

@media screen and (max-width: 820px) {
  body {
    background-color:white;
    margin:0;
    font-family: 'Outfit', sans-serif !important;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
    text-align:center;
    color: white;
  }

  .nav{
  position: fixed;
  bottom:0;
  z-index: 1;
  display: flex;
  width: -webkit-fill-available;
  justify-content:space-around;
  padding:12px;
  background-color: rgba(29, 29, 31, 0.938);
  box-shadow:none;
  margin-bottom:0px;}

  .sfondo{background-color:#edeef0}

  .intestazione1{display: none;}

  .intestazione2{display: flex;
  justify-content:center;
  align-items:center;
  color:#598596;
  margin-top:0px;
  margin-bottom:0px;}

  .NomeLogo{display:grid;
  justify-content:center;
  height:80px;}

  .Nomelogo h1{margin:0px;
    font-size: 38px;
  }

  .Nomelogo p{margin:0px;
    font-size: 17px;
  }

  .img{width:-webkit-fill-available;
  margin-top:0px;}

  .test{display:flex;
    flex-direction: column;
    width:85%;
  }
  
  .Notizie{
   display: flex;
   justify-content:left;
   color:#598596;
  }

  .Notizie h1{margin-bottom:10px;
  margin-top:10px;}

  .Contenitore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Uno {
    width: -webkit-fill-available;
    height: 260px;
    margin-right: 0px;
    margin-top:0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
    text-align:left;
    color:#598596;
  }

  .Due {
    width: -webkit-fill-available;
    height: 260px;
    margin-right: 0px;
    margin-left:0px;
    margin-top:40px;
    margin-bottom:40px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
    text-align:left;
    color:#598596;
  }

  .Tre {
    width: -webkit-fill-available;
    height: 260px;
    margin-right: 0px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:left;
    color:#598596;
  }

  p{font-size:17px;}

  h5{font-size: 15px;}

  h4{font-size: 18px;}

  button {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: #598596;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    width: -webkit-fill-available;
    margin-top:30px;
    margin-bottom:90px;
  }

  #home{font-size:23px;
  color:#549da0;}

  #food,#user,#setting{font-size: 23px;
  color:white;}

  #NomeH,#NomeO,#NomeA,#NomeS{font-size:12px;}
}
  