@media screen and (max-width: 2564px) {
  body {
    background-color: #002939;
    margin:0;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
  color: white;}

  .nav{
  display: flex;
  justify-content:space-around;
  padding:20px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);}

  .Contenitore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10%;
  }

  .Uno {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    margin-right: 40px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px)
  }

  .Contenuto {
    text-align: center;
    margin-top: 50px;
    color:white;
  }

  button {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: #549da0;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
  }

  #git{font-size: 30px;}

  #food{font-size: 30px;}

  #user{font-size: 30px;}

  #setting{font-size:30px;
  margin-right:0px;}
}

@media screen and (max-width: 820px) {
  body {
    background-color: #002939;
    margin:0;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
  color: white;}

  .nav{
  position: fixed;
  bottom:0;
  z-index: 1;
  width:100%;
  display: flex;
  justify-content:space-evenly;
  padding:20px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);}

  .Contenitore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Uno {
    width: 190px;
    height: 190px;
    border-radius: 30%;
    margin-right: 0px;
    margin-top:40px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px)
  }

  .Contenuto {
    text-align: center;
    margin-top: 50px;
    color:white;
  }

  button {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: #549da0;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
  }

  #git{font-size: 30px;}

  #food{font-size: 30px;}

  #user{font-size: 30px;}

  #setting{font-size:30px;
  margin-right:30px;}
}
  

