@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v2/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0Ew.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media screen and (max-width: 2564px) {
  body {
    background-color: white;
    margin:0;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
    text-align:center;
    font-size:20px;
    color: white;
  }

  .nav{position:fixed;
    z-index:1;
    width:-webkit-fill-available;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:5px;
    background-color: rgba(29, 29, 31, 0.938);
  }

  .intestazione1{display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    margin-top:0px;
    margin-bottom:15px;
  }

  .NomeLogo{display:grid;
    justify-content:center;
    height:80px;
  }
      
  .Nomelogo h1{margin:0px;
    font-size: 45px;
  }
          
  .Nomelogo p{margin:0px;
    font-size: 24px;
  }

  .test{width:60%;
    display:block;
  }
 
  .test h1{text-align:left;
  color:#598596;
  font-size:50px;
  padding-top: 140px;}

  .Contenitore{display:grid;
    width:-webkit-fill-available;
    background-color: #edeef0;;
    border-radius:10px;
    cursor: pointer;
  }
 
  .Generali{display:flex;
    align-items:center;
    font-size:30px;
    color: black;
    border-bottom:1px solid lightgrey;
  }

  .Generali:hover{background-color: lightgrey;
  border-radius:10px 10px 0px 0px;}
 
  .Generali div{background-color:grey;
    color:white;
    border-radius:5px;
    padding:2px;
    margin-right:15px;
    margin-left:15px;
    font-size:25px;
  }

  .Contattaci{display:flex;
    align-items:center;
    font-size:30px;
    color: black;
    border-bottom:1px solid lightgrey;
  }

  .Contattaci:hover{background-color: lightgrey;}
 
  .Contattaci div{background-color: rgb(58, 192, 58);
    color:white;
    border-radius:5px;
    padding:2px;
    margin-right:15px;
    margin-left:15px;
    font-size:25px;
  }
 
  .Valutaci{display:flex;
    align-items:center;
    font-size:30px;
    color:black;
    border-bottom:1px solid lightgrey
  }

  .Valutaci:hover{background-color: lightgrey;}
     
  .Valutaci div{background-color: lightsalmon;
    color:yellow;
    border-radius:5px;
    padding:2px;
    margin-right:15px;
    margin-left:15px;
    font-size:25px;
  }   
 
  .Versione{display:flex;
    align-items:center;
    font-size:30px;
    color: black;
  }

  .Versione:hover{background-color: lightgrey;
  border-radius:0px 0px 10px 10px;}
         
  .Versione div{background-color: white;
    color:#0a7aff;
    border-radius:5px;
    padding:2px;
    margin-right:15px;
    margin-left:15px;
    font-size:25px;
  }   

  .icona1{font-size:42px;}
 
  #frecciaD{margin-left:auto;
    margin-right:15px;
  }
 
  .DentroVersione{display:none;
    width:60%;
    padding-top:100px;
  }
 
  .Indietro{display:flex;
    justify-content:left;
    align-items:center;
    color:#0a7aff;
  }

  .Indietro p{cursor: pointer;
    font-size:30px;
  }

  .Descrizione p {font-size: 35px;}
 
  .Descrizione{display:grid;
    justify-content:center;
    width:-webkit-fill-available;
    padding:10px;
    border-radius:10px;
    color:#598596;
    background-color: #edeef0;
  }
 
  .Descrizione img{width:100%;}
 
  #FrecciaS{font-size:35px;
    color:#0a7aff;
    cursor: pointer;
  }

  #setting{font-size: 40px;
  color:#549da0;}
    
  #food,#user,#home{font-size: 40px;}
  
  #home:hover{color:#549da0;}
  #food:hover{color:#549da0;}
  #user:hover{color:#549da0;}
  #setting:hover{color:#549da0;}
}

@media screen and (max-width: 1540px) {
  body {
    background-color: white;;
    margin:0;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
    text-align:center;
    font-size:16px;
    color: white;
  }

  .nav{position:fixed;
    z-index:1;
    width:-webkit-fill-available;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0px;
    background-color: rgba(29, 29, 31, 0.938);
  }

  .intestazione1{display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    margin-top:0px;
    margin-bottom:4px;
  }

  .NomeLogo{display:grid;
    justify-content:center;
    height:80px;
  }
      
  .Nomelogo h1{margin:0px;
    font-size: 38px;
  }
        
  .Nomelogo p{margin:0px;
    font-size: 17px;
  }

  .test h1{font-size:35px;}

  .Generali, .Contattaci, .Valutaci, .Versione{font-size: unset;}

  .icona1{font-size:unset;}

  .Indietro p{cursor: pointer;
    font-size:unset;
  }

  .Descrizione p {font-size: unset;}

  #FrecciaS{font-size:25px;
    color:#0a7aff;
    cursor: pointer;
  }

  
  #setting{font-size: 30px;
    color:#549da0;
  }
      
  #food,#user,#home{font-size: 30px;}
  
  #home:hover{color:#549da0;}
  #food:hover{color:#549da0;}
  #user:hover{color:#549da0;}
  #setting:hover{color:#549da0;}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 820px) {
  body {
    background-color: white;;
    margin:0;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:1.2rem;
  }

  a{text-decoration: none;
  text-align:center;
  color: white;}

  .nav{
  position: fixed;
  bottom:0;
  z-index: 1;
  display: flex;
  width: -webkit-fill-available;
  justify-content:space-around;
  padding:12px;
  background-color: rgba(29, 29, 31, 0.938);
  box-shadow:none;
  margin-bottom:0px;}

  .Intestazione1{display: none;}

  .test{width:90%;
   display:block;
  }

  .test h1{text-align:left;
  color:#598596;
  padding-top: 0px;}

  h1{text-align:left;
    margin-top:20px;
    color: #598596;
  }
  .Generali:active{background-color:lightgrey;}

  .Contattaci:active{background-color:lightgrey;}

  .Valutaci:active{background-color:lightgrey;}

  .Versione:active{background-color:lightgrey;}

  .DentroVersione{display:none;
    width:90%;
    padding-top:0px
  }

  #home,#food,#user,#setting{font-size: 23px;}

  #NomeH,#NomeO,#NomeA,#NomeS{font-size:12px;}
}
  